menu "MXPAD"

	menuconfig LED
		bool "Status LED (WS2812)"
		default y

	if LED
		config LED_GPIO
			int "GPIO pin"
			default 18
			range 0 46

		config LED_STEP_MS
			int "Loop step in ms"
			range 10 100
			default 30

		config LED_STEP_HUE
			int "Loop step in 1/10 of hue degrees"
			range 1 3600
			default 6

		config LED_SATURATION
			int "Saturation"
			range 1 100
			default 100

		config LED_VALUE
			int "Maximum value"
			range 1 100
			default 15
			help
				Will be adjusted by the Light Sensor, if enabled.
	endif

	menuconfig LIGHT
		bool "Light Sensor"
		default y

	if LIGHT
		config LIGHT_ADC1_CHANNEL
			int "ADC1 channel"
			default 0
			range 0 9
	endif

endmenu
